body {
    font-family: "Liberation Sans", serif;
    background: #f2f2f2;
}

h1 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}

#top {
    color: #f1f1f1;
    background: #191c24;
}

hr {
    margin-bottom: 3rem;
}
#word-count-graph {
    /* border-radius: 2px;*/
    border: 1px inset rgb(39, 37, 37);
    min-height:70vh;
    margin: 10px;
    overflow:hidden;
}
#interactive-container {
    height: 80vh;
}

/*#download-csv-button {*/
/*    display: none*/
/*}*/
#date-progress-bar > .progress-bar-ticks {
    /*z-index: 9;*/
    position: absolute;
    left: 25%;

    width: 3px;
    height: 100%;
    /* To be set in Javascript to match Plotly grid color */
    /*background-color: blue;*/
}

/*The labels for each tick e.g. (1), (2) matching Plotly axis with date progress bar*/
.progress-bar-ticks > span {
    position: absolute;
    top: 110%;
    white-space: nowrap;
    transform: translateX(-50%);
}

#date-progress-bar {
    position: relative;
    overflow: visible;
    background-color: var(--bs-gray);
    height: 3em;
}

/*Override bootstrap default transition element.*/
#date-progress-bar > .progress-bar {
    transition: transform 0.5s ease;
    width: 100%;
    transform-origin: left;
}

/* The date label on the progress bar*/
#date-progress-bar > span {
    font-size: medium;
    padding-left: 0.5em;
    color: #f2f2f2;
    margin: auto;
    z-index: 2;
    position: absolute;
    white-space: nowrap;

    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 992px) {
    #main-text-readme-div > * {
        font-size: 2em;
    }
    #main-text-readme-div > h1 {
        font-size: 4em;
    }
}

#primed-notification {
    background: white;
    padding: 0.75em 1.25em 1.25em 0.75em;
    border-radius: 0.5em;
    border: 2px inset rgb(51, 51, 51);

    white-space: pre-line;
    overflow: scroll;
    height: 80vh;

    transition: background linear 0.2s;
}

#primed-notification.loading {
    background: rgb(235, 235, 235);
}
#primed-notification:not(.loading) {
    transition: background ease-out 0.1s;
}
#primed-notification.loading2 {
    background: rgb(70, 70, 70);
}
#primed-notification>.insertion-operation {
    background: rgba(155, 255, 62, 0.322);
    border-radius: 2px;
}

#primed-notification>.deletion-operation {
    background: rgba(255, 97, 97, 0.322);
    border-radius: 3px;
}
